In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('spam.csv')

In [4]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
2767,ham,Wow v v impressed. Have funs shopping!,NaN,NaN,NaN
2608,ham,Hello madam how are you ?,NaN,NaN,NaN
2440,ham,"Great. I'm in church now, will holla when i ge...",NaN,NaN,NaN
2699,ham,Oh baby of the house. How come you dont have a...,NaN,NaN,NaN
2074,ham,Yar lor actually we quite fast... Cos da ge sl...,NaN,NaN,NaN

In [5]:
df.shape

(5572, 5)

In [ ]:
# 1. Data Cleaning
# 2. EDA 
# 3. Text Preprocessing
# 4. Model building
# 5. Evaluation 
# 6. Improvement
# 7. Website
# 8 . Deploy